body {
    margin: 0;
    background-color: #202020;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid-of-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
    margin: 2rem;
}

.game-of-grid {
    width: 100%;
    background-color: #404040;
    color: #ffffff;
    transition: transform 150ms ease-out;
}

.game-of-grid:hover {
    transform: scale(1.05);
}

.game-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.game-title {
    margin: .5rem 1rem .25rem 1rem;
}

.game-description {
    margin: .25rem 1rem 1rem 1rem;
}